<div class="container">
  <div class="breadcrumb">
    <a href="/" title="coloriage">Coloriage</a>
    >
    <a href="/coloriage/<%= @category.slug %>"><%= @category.name %></a>
  </div>

  <h1>Coloriages <%= @category.name %></h1>
  <!-- Block View POSTS -->
  <div class="block-view">
    <div class="content">
      <%= render 'front/concern/view_front_posts', items: @posts %>
      <%= render 'front/concern/block_view_categories', items: @categories, title: 'Nouvelles catégories ajoutées', border_orange: false %>
    </div>
  </div>
</div>