<div class="block-view orange">
  <h2><%= title %></h2>
  <div class="content">
    <div class="view-front <%= border_orange ? 'orange' : 'default' %>">
      <div class="row">
        <div class="block-row">
          <% items.each do |item| %>
            <div class="row-cell">
              <div class="view-row">
                <a href="#" title="<%= item.name %>">
                  <img src="<%= item.avat_cat.url %>" alt="<%= item.name %>">
                </a>
              </div>
              <div class="title-row">
                <div class="title-block">
                  <h4>
                    <a href="#"><%= item.name %></a>
                  </h4>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>