<div class="row-cell">
  <div class="view-row">
    <a href="/<%= post.slug %>" title="<%= post.name %>">
      <img src="<%= post.img_original.medium.url %>" alt="<%= post.name %>">
    </a>
  </div>
  <div class="title-row">
    <div class="title-block">
      <h4>
        <a href="/<%= post.slug %>"><%= post.name %></a>
      </h4>
    </div>
  </div>
</div>